html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto'; }

body {
  background: #58B3CE;
  background: -moz-linear-gradient(top, #58B3CE 0%, #458EA2 50%, #2F606E 100%);
  background: -webkit-linear-gradient(top, #58B3CE 0%, #458EA2 50%, #2F606E 100%);
  background: linear-gradient(to bottom, #58B3CE 0%, #458EA2 50%, #2F606E 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  color: #22272c;
  margin-top: 6em; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.box {
  width: 450px;
  height: auto;
  background-color: #ffffffda;
  display: flex;
  flex-direction: row;
  border-radius: 10px; }
  .box .aside-box {
    background-image: url(../img/bank-img.jpg);
    background-position: center;
    background-size: 27em;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding: .7em;
    border-radius: 10px 0 0 10px; }
  .box .login-box {
    padding: 2em; }
    .box .login-box .title {
      text-align: center;
      color: #22272c;
      border: none;
      background: none;
      font-size: 1.5em;
      font-weight: 600; }
    .box .login-box .sign-up {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .box .login-box .sign-up a {
        text-decoration: none;
        color: #22272c;
        font-size: .8em; }
      .box .login-box .sign-up a:hover {
        text-decoration: underline; }
    .box .login-box p {
      font-size: .85em; }
    .box .login-box form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .box .floating-label {
    display: flex; }
    .box .floating-label input {
      margin-left: 2em;
      margin-bottom: .6em;
      padding: .3em;
      border: none;
      border-bottom: 1px solid #93a6b9;
      border-radius: 4px;
      box-shadow: 0 0 1px #000; }
    .box .floating-label #showPassword {
      width: 2.4em;
      height: 1.4em;
      display: flex;
      align-items: center;
      margin-left: -2.3em;
      margin-top: .2em;
      background: transparent;
      border: none;
      transition: .2s;
      opacity: .7;
      cursor: pointer; }
      .box .floating-label #showPassword img {
        width: 1.5em; }
  .box #login-btn {
    margin-top: 2em;
    padding: .4em;
    border: .7px solid #93a6b9;
    border-radius: 4px;
    transition: .3s; }
  .box #login-btn:hover {
    background-color: #22272c;
    color: #93a6b9;
    border: 1px solid #22272c; }

.mission-phrase {
  font-weight: 600;
  font-size: 1.3em;
  color: #22272c; }

footer {
  padding: 0 100vw 0vh 100vw; }
  footer .copyright {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: .3em; }

.lock.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 13px;
  height: 6px;
  border-radius: 1px;
  border: solid 1px currentColor; }

.lock.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: -8px;
  width: 5px;
  height: 6px;
  border-radius: 4px 4px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor; }

.mail.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 4px;
  width: 15px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor; }

.mail.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
    -webkit-transform-origin-transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
    -webkit-transform-transform: rotate(-54deg); }

.mail.icon:after {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
    -webkit-transform-origin-transform-origin: bottom;
  -webkit-transform: rotate(54deg);
    -webkit-transform-transform: rotate(54deg); }
